@mixin ui {
  width: 20rem;
  display: flex;
  flex-direction: column;
  // background-color: #2a2a34;
  border: 0.3rem solid #2a2a34;
  height: 60rem;
  border-radius: 0.8rem;
}

#app {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;

  .buttons {
    order: 1;
    @include ui();

    .button {
      &:hover {
        color: white;
      }
    }
  }

  canvas {
    order: 2;
    height: 60rem;
  }

  .options {
    order: 3;
    @include ui();

    .option {
      &:hover {
        color: white;
      }

      &.toggled {
        color: white;
      }
    }
  }
}
