body {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #F5F5EF;
}

canvas {
  width: 60rem;
  height: 60rem;
  margin-top: 10rem;
}

.ui {
  margin-top: 10rem;
  z-index: 10;
  padding: 2.5rem;
  display: flex;

  button {
    padding: 2rem 6rem;
    font-family: 'InterTight';
    font-weight: bold;
    flex: 1;
    border-radius: 1.2rem;
    border: 0.3rem solid black;
    transition: ease-in-out;

    &:hover {
      background-color: black;
      color: white;
      border: 0.3rem solid black;
    }

    &:active {
      transform: scale(0.99);
    }

    &:first-of-type {
      margin-right: 2rem;
    }
  }
}
